<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Students_db2.My.MySettings.StudentsConnectionString"
            connectionString="Data Source=WIN-V1EBMR214HR\SQLEXPRESS;Initial Catalog=Students;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Students_db2.My.MySettings.StudentsConnectionString1"
            connectionString="Data Source=DESKTOP-SO6QBC6\SQLEXPRESS;Initial Catalog=Students;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>