<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_10lab.My.MySettings.booksConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\books.accdb"
            providerName="System.Data.OleDb" />
        <add name="_10lab.My.MySettings.booksConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\WORK\group_data\SE_1-16\2_kurs\1_module\code\nabakirov\vb\10lab\books.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>